.pokemon-card{
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.pokemon-card .card-body{
  text-align: center;
}

@media (max-width: 700px) {
  .pokemon-card{
    width: 300px;
    height: 300px;
  }

  .pokemon-card img{
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 900px) {
  .pokemon-card img{
    width: 125px;
    height: 125px;
  }
}

.pokemon-detail-card{
  max-width: 2500px;
  width: 1500px;
  margin: 50px auto;
  padding: 50px 10px;
}

.pokemon-detail-image{
  display: inline-block;
  /* border: 2px solid blue; */
  vertical-align: top;
}

@media (max-width: 700px) {
  .pokemon-detail-image{
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 900px) {
  .pokemon-detail-image{
    width: 500px;
    height: 500px;
  }
}

.data-label{
  font-weight: bold;
}

.type {
  margin: 0 10px;
}