@{
    ViewData["Title"] = "Home Page";
}

@*<div id="home" style="margin: 0 auto 100px auto;" pokemonId="@ViewBag.PokemonId"></div>*@
<div id="pokemonList" class="container-fluid" currentIndex="@ViewBag.CurrentIndex"></div>

@section scripts {
   @* <script>
        var root = n.createRoot(document.getElementById('root'));
        //root.render( < React.StrictMode >  < App /  > 
        //</React.StrictMode>
        //);

        var main = React.createElement("Test", null, root);
        root.render(main);
    </script>*@
}